
.twcontainer{
    font-size: 9rem;
    /* background: linear-gradient(94.56deg, #3B82F6 59.99%, #10B981 102.65%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
}

.welcomepg{
    padding: 2rem;
}

/* .twc{
    font-size: 4rem;
} */