.wmax{
  width: 100%;
}


.hmax{
  height: 100%;
}

hvh{
  height: 100vh;
}

h1000{
  height: 1000px;
}
.custom-div-icon {
  background-color: transparent;
  border: none;
  text-align: center;
  line-height: 1;
}
.custom-div-icon i {
  color: 'black'; 
}
.ev-range-icon i {
  color: #ffe600; 
}