<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortest Route Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map-container { height: 500px; }
        .custom-div-icon {
            background-color: transparent;
            border: none;
            text-align: center;
            line-height: 1;
        }
        .custom-div-icon i {
            color: 'black'; 
        }
        .ev-range-icon i {
            color: #ffe600; 
        }
    </style>
</head>
<body>
    <div id="map-container"></div>
    <form id="coordinates-form" onsubmit="fetchAndDisplayMap(); return false;">
        <label for="start-address">Start Address:</label>
        <input type="text" id="start-address" name="start-address" required><br>
        <label for="end-address">End Address:</label>
        <input type="text" id="end-address" name="end-address" required><br>
        <label for="battery-percentage">EV Remaining Percentage:</label>
        <input type="number" id="battery-percentage" name="battery-percentage" min="0" max="100" required><br>
        
        <button type="submit">Plot Route</button>
    </form>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map-container').setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function fetchAndDisplayMap() {
            var startAddress = document.getElementById('start-address').value;
            var endAddress = document.getElementById('end-address').value;
            var batteryPercentage = document.getElementById('battery-percentage').value;

            fetch('/fetch_map', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ startAddress: startAddress, endAddress: endAddress, batteryPercentage: batteryPercentage })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                var startIcon = L.divIcon({
    className: 'custom-div-icon',
    html: '<i class="fas fa-map-pin fa-2x" style="color: blue;"></i>',
    iconSize: [22, 22],
    iconAnchor: [11, 22],
    popupAnchor: [0, -11]
});

var endIcon = L.divIcon({
    className: 'custom-div-icon',
    html: '<i class="fas fa-map-pin fa-2x" style="color: red;"></i>',
    iconSize: [22, 22],
    iconAnchor: [11, 22],
    popupAnchor: [0, -11]
});
                var coordinates = data.coordinates.map(coord => [coord[1], coord[0]]);
                var polyline = L.polyline(coordinates, {color: 'black'}).addTo(map); // Shortest route
                map.fitBounds(polyline.getBounds());
                // Add marker at the start point
var startMarker = L.marker([data.coordinates[0][1], data.coordinates[0][0]],{ icon: startIcon }).addTo(map);
var endMarker = L.marker([data.endpoint[1], data.endpoint[0]],{ icon: endIcon }).addTo(map);


// Fit the map bounds to include all markers and the route polyline



                var evIcon = L.divIcon({
                    className: 'custom-div-icon',
                    html: '<i class="fas fa-bolt fa-2x"></i>',
                    iconSize: [22, 22],
                    iconAnchor: [11, 11],
                    popupAnchor: [0, -11]
                });

                var evRangeIcon = L.divIcon({
                    className: 'ev-range-icon',
                    html: '<i class="fas fa-bolt fa-2x"></i>',
                    iconSize: [32, 32],
                    iconAnchor: [11, 11],
                    popupAnchor: [0, -11]
                });
  

                // Markers for EVs within range
               
        
 console.log(data)
   if(data.rangeEvCoordinates[0]==0 && data.rangeEvCoordinates[1]==0 ){
    console.log("GHAR PE RAHO!")
   }
   else {

              
                        // Add markers for EV stations
        data.evStations.forEach(evStation => {
            if(evStation.coordinates[0]==data.rangeEvCoordinates[1] && evStation.coordinates[1]==data.rangeEvCoordinates[0]){
                  var a=10}
                  else{
            
            var marker = L.marker(evStation.coordinates, {icon: evIcon}).addTo(map);
            marker.bindPopup(evStation.name);}});
               
       
        var s =L.marker(data.rangeEvCoordinates, { icon: evRangeIcon }).addTo(map);
        s.bindPopup('Fastcharge');

}
            })
            .catch(error => console.error('Error fetching map:', error));
        }
    </script>
</body>
</html>
